[user]
    user = hakloev
    name = Håkon Ødegård Løvdal
	email = hakloev@gmail.com
[push]
	default = matching
[core]
	autocrlf = input
    excludesfile = ~/.gitexcludes
	editor = vim
[merge]
    tool = opendiff
[color]
    status = always
